$mysty-blue: #c3ceda;
$blue-gray: #738fa7;
$midnight-blue: #0c4160;
$dark-blue: #071330;

/*group-buttons*/
$watchButton: #0d6efd;
$watchButtonHover: #0b5ed7;
$borderInputSelect: #0d6efd;
$registerButton: #198754;
$registerButtonHover: #157347;
$invalid: #c80000;
$deleteButton: #dc3545;
$deleteButtonHover: #c82333;
$modifyButton: #ffc107;
$modifyButtonHover: #ffca2c;
