$transition: 300ms linear;
$animation-duration: 10000ms;
$border-radius-default: 0.2rem;
$box-shadow-default: 0 0 12.5px 0 rgba(0, 0, 0, 0.5);
$box-shadow-default-hover: 0 0 1px 0 rgba(0, 0, 0, 0.5);
