@import "colors";
@import "variables";

* {
  box-sizing: border-box;
  transition: $transition;
}

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: $mysty-blue;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  background-color: $dark-blue;
  display: flex;
  align-items: center;

  &__logo {
    height: 4rem;
  }

  &__link {
    text-decoration: none;
    color: white;
    padding: 1rem;

    &:hover {
      color: white;
    }

    &--home {
      margin-left: auto;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &--index {
    justify-content: center;
    align-items: flex-start;
  }

  &--others {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title {
    margin: 0;
  }

  &__content-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  &__no-animals {
    text-align: center;
  }
}

.card {
  border: 1px solid rgba($midnight-blue, 0.25);
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  transition: $transition;

  &__img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: $border-radius-default;
  }

  &__content {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 1.2rem;
    margin: 0;
  }

  &__species {
    font-size: 0.8rem;
    margin: 0;
  }

  &:hover {
    box-shadow: $box-shadow-default-hover;
  }
}

.group-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;

  &--row {
    flex-direction: row;
    column-gap: 0.5rem;
  }

  &--column {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__button,
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-default;
    border: none;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    background-color: white;
    transition: $transition;

    &--w-100 {
      width: 100%;
    }

    &--watch {
      background-color: $watchButton;
      color: white;

      &:hover {
        background-color: $watchButtonHover;
      }
    }

    &--register {
      background-color: $registerButton;
      color: white;

      &:hover {
        background-color: $registerButtonHover;
      }
    }

    &--delete,
    &--exit {
      background-color: $deleteButton;
      color: white;

      &:hover {
        background-color: $deleteButtonHover;
      }
    }

    &--modify {
      background-color: $modifyButton;
      color: black;

      &:hover {
        background-color: $modifyButtonHover;
      }
    }

    &--disable {
      opacity: 0.5;

      &:hover {
        cursor: initial;
      }
    }
  }

  &__svg {
    height: 1.5rem;
    width: 1.5rem;

    &--discard {
      color: $deleteButton;
    }

    &--contact {
      fill: $registerButton;
    }
  }
}

.footer {
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;

  &__link {
    color: white;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 10rem;

  &__layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
    align-items: center;
  }

  &__img {
    width: 100%;
  }

  &__group-inputs {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1rem;
  }

  &__label-input {
    display: flex;
    flex-direction: column;
  }

  &__input {
    border-radius: 5px;
  }
}

.confirmation-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.watch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  &__img {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text{
    margin: 0 0 1rem 0;
  }
}